# Dependencies
node_modules/

# Next.js build output
.next/
out/
dist/

# Env & local config
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / tool junk
.DS_Store
.vscode/
.idea/
.vercel/
.eslintcache
